a {
  color:brown;
  font-family:cursive;
  text-decoration:none;
}

body {
  background:AntiqueWhite;
  color: #111;
  font-family:Arial, sans-serif;
  font-size:12px;
  margin:0 auto;
  padding:1%;
  width:80rem;
}

form {
  display:inline-block;
}

h1 {
  color:brown;
  font-family:cursive;
  font-size:4rem;
  text-align:center;
}

h2 {
  color:brown;
  font-family:cursive;
  font-size:3rem;
  text-align:center;
}

html {
  border:0;
  margin:0;
  padding:0;
  width:100%;
}

input {
  width:20rem;
  font-size:1.1rem;
  margin:.7rem auto;
  padding:.5rem;
  text-align:left;
}

input[type=submit] {
  background-color:brown;
  border:2px solid white;
  border-radius:99%;
  color:white;
  display:block;
  font-family:cursive;
  font-size:1.1rem;
  margin:.3rem auto;
  text-align:left;
  width:9rem;
}

label {
  display:block;
  font-family:cursive;
  font-size: 1.4rem;
  margin:.1rem 0;
}

label + label {
  margin-top:1.8rem;
}

p {
  padding:0.8rem 0.2rem;
}

textarea {
  font-size:1.2rem;
  height:11rem;
  margin:.4rem auto;
  width:80rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: brown;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

#bottom {
  text-align:center;
}

#new {
  top:0;
}

#next {
  top:0;
}

#prev {
  position:relative;
  top:0;
}

.active {
  color:#555;
  font-size:110%;
  font-weight:bold;
}

.error {
  color:red;
}

.main-title {
  color:brown;
  display:block;
  font-size:4rem;
  font-weight:bold;
  text-align:center;
  margin-bottom:3rem;
  text-decoration:none;
}

.newpostheading {
  color:brown;
  text-align:center;
}

.post + .post {
  margin:0.2rem;
}

.post-date {
  bottom:0;
  color:#777;
  margin-right:0.2rem;
  position:absolute;
  right:0;
}

.post-heading {
  position:relative;
  border-bottom:0.1rem solid #777;
}

.post-owner {
  bottom:0;
  text-align:center;
}

.post-title {
  bottom:0;
  font-size:1.20rem;
  font-weight:bold;
  left:0;
  position:absolute;
}

.post-content {
  margin-top:5px;
}

.profile {
  color:#555;
  font-size:1.5rem;
  margin:1rem auto;
}

.submit {
  background:brown;
  border:2px solid white;
  border-radius: 99%;
  color:white;
  display:block;
  font-family:cursive;
  font-size:150%;
  margin:1rem auto;
  padding:1.3rem;
  text-align:center;
  width:10rem;
}

