{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form method="post">
  <table>
    <tr>
      <td><label for="username">Username</label></td>
      <td>
        <input name="username" type="text" value="{{ user }}">
      </td>
      <td>
        {% if errors %}
          <span class="error">{{ errors['username_error'] }}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td>
          <input name="password" type="password">
      </td>
      <td>
        {% if errors %}
          <span class="error">{{ errors['password_error'] }}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" class="submit" value="Login">
      </td>
      <td>
      </td>
    </tr>
  </table>
</form>

<table>
  <tr>
    <td>
      Don't have an account?
    </td>
    <td>
      <form action="/register"><input type="submit" class='submit' value="Create one!"/></form>
    </td>
  </tr>
</table>

{% endblock %}
